.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input { /* Hides default HTML checkbox */
      opacity: 0;
      width: 0;
      height: 0;
    }
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
}

/* Defines the color and transformation for the slider */

input:checked + .slider {
  background-color: #8284ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Makes the slider round */
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}